<div class="row">
    <!-- <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product> -->
    <div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
            <a href="#">{{product.name}}</a>
            </h4>
            <h5>${{product.price}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <button (click)="showDetail(product)">Chi tiết</button>
            <button (click)="removeItem(product.id)">Xóa</button>
        </div>
        </div>
    </div>
  </div>
 